USE [QuotePlatform_Archive]
GO



/****** Object:  StoredProcedure [dbo].[DataTransfer_From_DisDigital]    Script Date: 03/07/2024 12:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		SD
-- Create date: 2020-07-10
-- Description:	Copies Tracking data from Dis-Dock-01 
--				SP Script Provided By ROD

-- Author:		SD
-- Ammend date: 2020-07-21
-- Ammendment :	Delete data from Tracking where [RequestType] = 'ValidateBankDetails'
--				Has been taken Off from the script as per the discussions with Rod.

-- Author:		SD
-- Ammend date: 2022-02-12
-- Ammendment :	Added [ApiVersion] column to the extract as par the request number RITM0081618

-- Author:		SB
-- Ammend date: 2022-02-12
-- Ammendment :	Server Migrated from DOCK to DIS-DIGITAL-01/02

-- Author:		SD
-- Ammend date: 2024-03-05
-- Ammendment :	Instead of extracting data older than today, we want to keep 5 days in Live environment - RITM0262407

-- Author:		SD
-- Ammend date: 2024-07-03
-- Ammendment :	Added additional columns as per the request - RITM0274915

-- =============================================
CREATE PROCEDURE [dbo].[DataTransfer_From_DisDigital_Test] 
AS  
BEGIN
	SET NOCOUNT ON;

    --DECLARE @maxdate DATETIME;
    
    DECLARE @Source AS VARCHAR(50);
    SET @Source = 'Azure:Dis-DIGITAL-01/02'
	
	--SELECT @maxdate = MAX(datecreated)
 --   FROM [QuotePlatform_Archive].[dbo].[Tracking]
 --   WHERE [Source] = @Source;
    
    DECLARE @Today AS VARCHAR(23);
    SET @Today = CONVERT(VARCHAR, GETDATE()  , 121)



	SELECT @Source AS 'Source',
	       [Id] AS 'SourceId',  
           [InternalId] AS 'InternalId', 
           [WebReference] AS 'WebReference', 
           [PolicyType] AS 'PolicyType', 
           [AffinityCode] AS 'AffinityCode', 
           [CompanyCode] AS 'CompanyCode', 
           NULL AS 'AtlantaBrandCode',
           [RequestType] AS 'RequestType', 
           'application/xml' AS 'MimeType',
           [RequestXML] AS 'Request', 
           [ResponseXML] AS 'Response', 
           [IsError] AS 'StatusCode',
           CONVERT(int, [ElapsedTime]) AS 'ElapsedTime',
           [DateCreated] AS 'DateCreated',
           'Transfer-Source:' + @Source + '.AtlantaTracking.dbo.Tracking,Date:' + @Today AS 'Metadata',
		   [ApiVersion],
		   ClientKey,
		   ProductType
    INTO #DOCK01_TRACKING
    --FROM [DIS-DIGITAL].[AtlantaTracking].[dbo].[Tracking] 
	FROM [LIS-ATLTRK-AG01].[AtlantaTracking].[dbo].[Tracking] 
    --WHERE [DateCreated] > @maxdate;
	WHERE cast([DateCreated] as date) < DATEADD ( DAY, -5, CAST(@today AS DATE));

BEGIN TRY
	INSERT INTO [dbo].[Tracking]
        ([Source]
        ,[SourceId]
        ,[InternalId]
        ,[WebReference]
        ,[PolicyType]
        ,[AffinityCode]
        ,[CompanyCode]
        ,[AtlantaBrandCode]
        ,[RequestType]
        ,[MimeType]
        ,[Request]
        ,[Response]
        ,[StatusCode]
        ,[ElapsedTime]
        ,[DateCreated]
        ,[Metadata]
		, [ApiVersion]
		, ClientKey
		, ProductType)  
	SELECT [Source]
          ,[SourceId]
          ,[InternalId]
          ,[WebReference]
          ,[PolicyType]
          ,[AffinityCode]
          ,[CompanyCode]
          ,[AtlantaBrandCode]
          ,[RequestType]
          ,[MimeType]
          ,[Request]
          ,[Response]
          ,[StatusCode]
          ,[ElapsedTime]
          ,[DateCreated]
          ,[Metadata]
		  ,[ApiVersion]
		  ,ClientKey
		  ,ProductType
	FROM #DOCK01_TRACKING
	
	DELETE [source] FROM [LIS-ATLTRK-AG01].[AtlantaTracking].[dbo].[Tracking] [source]
	INNER JOIN #DOCK01_TRACKING [dest]
	ON [source].[Id] = [dest].[SourceId]

END TRY

BEGIN CATCH
	print 'Error within the Data';
END CATCH
	
END
